html, body, #root {
  margin: 0;
  padding: 0;
}

.change { cursor: pointer; }
.light .texteditor .change.insertion { text-decoration: none; color: #22c55e; background-color: #dcfce7; }
.light .texteditor .change.deletion { text-decoration: line-through; color: #ef4444; background-color: #fee2e2; }
.dark .texteditor .change.insertion { text-decoration: none; color: #4ade80; background-color: #14532d; }
.dark .texteditor .change.deletion { text-decoration: line-through; color: #fca5a5; background-color: #7f1d1d; }
.light .texteditor .change:hover { background-color: rgba(0, 0, 0, 0.1); }
.dark .texteditor .change:hover { background-color: rgba(255, 255, 255, 0.1); }