/* Base styles */
html, body, #root {
  margin: 0;
  padding: 0;
}

/* Quill editor base styles */
.ql-container {
  font-family: inherit;
  font-size: 0.875rem;
}

.ql-editor {
  padding: 10px;
  height: 100%;
}

.ql-editor p {
  margin: 0;
}

